* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: radial-gradient(circle, #009ac9, #007c92);
  color: white;
}

.main-heading {
  height: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.question {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  text-align: center;
}

.options-container-1 {
  height: 18vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-container-2 {
  height: 18vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option {
  height: 8rem;
  width: 32rem;
  margin: 2rem;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.option:hover {
  background-color: rgb(209, 209, 209);
  transform: scale(1.03);
}

.option:active {
  transform: scale(0.9);
}

.option:disabled {
  transition: none;
  transform: none;
  cursor: not-allowed;
  color: white;
}

.next-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.next-button {
  display: none;
  height: 8rem;
  width: 68rem;
  margin: 2rem;
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.next-button:hover {
  background-color: rgb(209, 209, 209);
  transform: scale(1.03);
  cursor: pointer;
}

.next-button:active {
  transform: scale(0.9);
}

#score {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

@media only screen and (max-width: 700px) {
  .options-container-1,
  .options-container-2 {
    flex-direction: column;
    height: 25vh;
  }

  .option {
    margin: 1rem;
    width: 23rem;
  }

  .next-button {
    width: 20rem;
  }
}
